* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 1rem 0 0.5rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $md) {
    max-width: 720px;
  }

  @media (min-width: $lg) {
    max-width: 960px;
  }

  @media (min-width: $xl) {
    max-width: 1140px;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem 0.5rem;

  &.fill {
    --repeat-strategy: auto-fill;
  }

  &.fit {
    --repeat-strategy: auto-fit;
  }

  grid-template-columns: repeat(var(--repeat-strategy), minmax(15rem, 1fr));
}
